* {
  box-sizing: border-box;
}

body {
  background-color: #cbcbd9;
}

.shape_1 {
  position: absolute;
  width: 276px;
  height: 1009px;
  left: 79px;
  top: 108px;
  background: #ee4d38;
  border-radius: 46px;
}

.shape_2 {
  position: absolute;
  width: 1319px;
  height: 879px;
  left: 140px;
  top: 160px;
  background: linear-gradient(304.24deg, #f8f8ff 0%, #ffffff 86.71%);
  box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
  border-radius: 32px;
}

.shape_3 {
  position: absolute;
  width: 260px;
  height: 879px;
  left: 0;
  top: 0;
  background: #f8f8ff;
  border-radius: 32px 0px 0px 32px;
}

.user_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
  position: absolute;
  width: 178px;
  height: 55px;
  left: 38px;
  top: 58px;
  background: #f8f8ff;
}

.user_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 109px;
  height: 45px;
  background: #f8f8ff;
}

.name  {
  width: 110px;
  height: 24px;
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
  background: #f8f8ff;
}

.id  {
  width: 69px;
  height: 21px;
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  background: #f8f8ff;
}

.main_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;
  position: absolute;
  width: 260px;
  height: 272px;
  left: 0px;
  top: 162px;
  background: #f8f8ff;
}

.logout_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 260px;
  height: 48px;
  left: 0px;
  top: 802px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 10px;
  width: 222px;
  height: 48px;
  background: #f8f8ff;
}

.option_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 10px;
  width: 254px;
  height: 48px;
}

.option:hover {
  border-left: 4px solid #ee4d38;
}

.option_1:hover {
  border-left: 4px solid #ee4d38;
}

.menu_text1 a {
  width: 52px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  color: #62618f;
}

.menu symbol {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 16.67%;
  bottom: 16.67%;
  border: 2px solid #62618f;
}

.menu symbol img {
  width: 32px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: #f8f8ff;
}

.menu_text a {
  width: 56px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  color: #62618f;
}

.title_main {
  position: absolute;
  width: 103px;
  height: 48px;
  left: 332px;
  top: 65px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1a194d;
}

.title_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 313px;
  height: 49px;
  left: 332px;
  top: 162px;
}

.title_sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 313px;
  height: 49px;
  left: 332px;
  top: 162px;
}

.title_sub1 {
  width: 110px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_sub2 {
  width: 314px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.billing_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 617px;
  height: 261px;
  left: 316px;
  top: 261px;
}

.main_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 168px;
  width: 555px;
  height: 21px;
}

.sub_header1 {
  width: 34px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub_header2 {
  width: 100px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.sub_header3 {
  width: 53px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.main_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 114px;

  width: 614px;
  height: 56px;

  border-radius: 8px;
}

.main_data:hover {
  background: #ffffff;
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
}

.sub_data1 {
  width: 93px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; 
  color: #1a194d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub_data2 {
  width: 150px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
   color: #1a194d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.sub_data3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  width: 114px;
  height: 40px;
  border: 1px solid #cbcbd9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.sub_data3 button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 82px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
}

.load_more a {
  position: absolute;
  width: 86px;
  height: 24px;
  left: 328px;
  top: 538px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ee4d38;
}

.main_payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 313px;
  height: 49px;
  left: 332px;
  top: 643px;
}

.sub_payment1 {
  width: 142px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub_payment2 {
  width: 316px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #62618f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.credit_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 601px;
  height: 58px;
  left: 332px;
  top: 714px;
}

.card_symbol img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 87px;
  height: 58px;
  background: #ffffff;
  border: 1px solid #cbcbd9;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card_text {
  width: 384px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.remove {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  width: 98px;
  height: 40px;
  border: 1px solid #cbcbd9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.remove button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  width: 66px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a194d;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
  position: absolute;
  width: 258px;
  height: 221px;
  left: 1005px;
  top: 162px;
  background: #ee4d38;
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
  border-radius: 16px;
}

.plan_title1 {
  width: 77px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.plan_title2 {
  width: 135px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.plan_title3 {
  width: 145px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cancel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  width: 194px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.cancel button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 162px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
